<h1>Bilardex - Strona główna</h1>
<p>
Aplikacja bilardex służu do rezerwacji stółw bilardowych
</p>

<p>
<%= Time.now %>
</p>

<p>
Wszystkie stoly:
<%#= @pool_tables %>
<ul>
<% @pool_tables.each do |pool_table| %>
  <li><%= pool_table.table_type %>(<%= pool_table.hourly_price %>zl/h)</li>
<% end %>
</ul>
</p>

<p>
dostepne stoly:
<%#= @pool_tables_free %>
<ul>
<% @pool_tables_free.each do |pool_table| %>
<li><%= pool_table.table_type %>(<%= pool_table.hourly_price %>zl/h)</li>
<% end %>
</ul>
</p>


<p>
Trwajace rezerwacje:
<%#= @reservation_in_time_range %>
<ul>
<% @reservation_active.each do |reservation| %>
<li><%= reservation.pool_table.table_type %>(<%= reservation.start_time %> - <%= reservation.end_time %>)</li>
<% end %>
</ul>
</p>
