<!DOCTYPE html>
<html>
  <head>
    <title>BilardexApi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>


    <%= link_to "Home", root_url, method: :get %>


    <% if logged_in? %>
      <%#= link_to "Reserve", reserve_path, method: :get %>
      Zalogowany jako <%= current_user.name %>
      <%= link_to "Wyloguj", logout_path, method: :delete %>
    <% else %>
      Wylogowany
      <%= link_to "Login", login_path, method: :get %>
    <% end %>

    <%= yield %>

  </body>
</html>
