<%= form_with(model: role) do |form| %>
  <% if role.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
        <% role.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :role_name, style: "display: block" %>
    <%= form.text_field :role_name %>
  </div>

  <div>
    <%= form.label :user_read, style: "display: block" %>
    <%= form.check_box :user_read %>
  </div>

  <div>
    <%= form.label :user_write, style: "display: block" %>
    <%= form.check_box :user_write %>
  </div>

  <div>
    <%= form.label :reservation_read, style: "display: block" %>
    <%= form.check_box :reservation_read %>
  </div>

  <div>
    <%= form.label :reservation_write, style: "display: block" %>
    <%= form.check_box :reservation_write %>
  </div>

  <div>
    <%= form.label :pool_table_read, style: "display: block" %>
    <%= form.check_box :pool_table_read %>
  </div>

  <div>
    <%= form.label :pool_table_write, style: "display: block" %>
    <%= form.check_box :pool_table_write %>
  </div>

  <div>
    <%= form.label :payment_read, style: "display: block" %>
    <%= form.check_box :payment_read %>
  </div>

  <div>
    <%= form.label :payment_write, style: "display: block" %>
    <%= form.check_box :payment_write %>
  </div>

  <div>
    <%= form.label :api_permissions_write, style: "display: block" %>
    <%= form.check_box :api_permissions_write %>
  </div>

  <div>
    <%= form.label :api_permissions_read, style: "display: block" %>
    <%= form.check_box :api_permissions_read %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
