<div id="<%= dom_id role %>">
  <p>
    <strong>Role name:</strong>
    <%= role.role_name %>
  </p>

  <p>
    <strong>User read:</strong>
    <%= role.user_read %>
  </p>

  <p>
    <strong>User write:</strong>
    <%= role.user_write %>
  </p>

  <p>
    <strong>Reservation read:</strong>
    <%= role.reservation_read %>
  </p>

  <p>
    <strong>Reservation write:</strong>
    <%= role.reservation_write %>
  </p>

  <p>
    <strong>Pool table read:</strong>
    <%= role.pool_table_read %>
  </p>

  <p>
    <strong>Pool table write:</strong>
    <%= role.pool_table_write %>
  </p>

  <p>
    <strong>Payment read:</strong>
    <%= role.payment_read %>
  </p>

  <p>
    <strong>Payment write:</strong>
    <%= role.payment_write %>
  </p>

  <p>
    <strong>Api permissions write:</strong>
    <%= role.api_permissions_write %>
  </p>

  <p>
    <strong>Api permissions read:</strong>
    <%= role.api_permissions_read %>
  </p>

</div>
