<h1>Logowanie</h1>

<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email, class: 'form-control' %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>
  <br>
  <%= f.submit "Zaloguj" %>
<% end %>
  
