<div id="<%= dom_id reservation %>">
  <p>
    <strong>Pool table:</strong>
    <%= reservation.pool_table_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= reservation.user_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= reservation.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= reservation.end_time %>
  </p>

  <p>
    <strong>Payment:</strong>
    <%= reservation.payment_id %>
  </p>

</div>
