<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :tel_number, style: "display: block" %>
    <%= form.text_field :tel_number %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :student_password %>
  </div>
  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, id: :student_password_confirmation %>
  </div>

  <div>
    <%= form.label :premium, style: "display: block" %>
    <%= form.check_box :premium %>
  </div>

  <div>
    <%= form.label :session_cookie, style: "display: block" %>
    <%= form.text_field :session_cookie %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
