<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Tel number:</strong>
    <%= user.tel_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= user.password_digest %>
  </p>

  <p>
    <strong>Premium:</strong>
    <%= user.premium %>
  </p>

  <p>
    <strong>Session cookie:</strong>
    <%= user.session_cookie %>
  </p>

</div>
