<%= form_with(model: pool_table) do |form| %>
  <% if pool_table.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pool_table.errors.count, "error") %> prohibited this pool_table from being saved:</h2>

      <ul>
        <% pool_table.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :position_x, style: "display: block" %>
    <%= form.text_field :position_x %>
  </div>

  <div>
    <%= form.label :position_y, style: "display: block" %>
    <%= form.text_field :position_y %>
  </div>

  <div>
    <%= form.label :table_type, style: "display: block" %>
    <%= form.text_field :table_type %>
  </div>

  <div>
    <%= form.label :hourly_price, style: "display: block" %>
    <%= form.text_field :hourly_price %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
