<div id="<%= dom_id pool_table %>">
  <p>
    <strong>Position x:</strong>
    <%= pool_table.position_x %>
  </p>

  <p>
    <strong>Position y:</strong>
    <%= pool_table.position_y %>
  </p>

  <p>
    <strong>Table type:</strong>
    <%= pool_table.table_type %>
  </p>

  <p>
    <strong>Hourly price:</strong>
    <%= pool_table.hourly_price %>
  </p>

</div>
