<h1>Editing pool table</h1>

<%= render "form", pool_table: @pool_table %>

<br>

<div>
  <%= link_to "Show this pool table", @pool_table %> |
  <%= link_to "Back to pool tables", pool_tables_path %>
</div>
