<p style="color: green"><%= notice %></p>

<h1>Pool tables</h1>

<div id="pool_tables">
  <% @pool_tables.each do |pool_table| %>
    <%= render pool_table %>
    <p>
      <%= link_to "Show this pool table", pool_table %>
    </p>
  <% end %>
</div>

<%= link_to "New pool table", new_pool_table_path %>
