<p style="color: green"><%= notice %></p>

<%= render @pool_table %>

<div>
  <%= link_to "Edit this pool table", edit_pool_table_path(@pool_table) %> |
  <%= link_to "Back to pool tables", pool_tables_path %>

  <%= button_to "Destroy this pool table", @pool_table, method: :delete %>
</div>
